<footer class="container">
    <section class="footer-back">
        <div class="footer wraper">
            <div class="footer-block">
                <div class="logo_footer">
                    <a href="#">HAUSPORT</a>
                </div>
            </div>
            <div class="footer-block">
                <span class="footer-title">SẢN PHẨM</span>
                <ul class="footer-list">
                    <li class="footer-item"><a href="#!">ÁO BÓNG ĐÁ</a></li>
                    <li class="footer-item"><a href="#!">ÁO ĐỘI TUYỂN</a></li>
                    <li class="footer-item"><a href="#!">BALO</a></li>
                    <li class="footer-item"><a href="#!">GIÀY THỂ THAO</a></li>
                    <li class="footer-item"><a href="#!">PHỤ KIÊN</a></li>
                </ul>
            </div>
            <div class="footer-block">
                <span class="footer-title">VỀ CHÚNG TÔI</span>
                <ul class="footer-list">
                    <li class="footer-item"><a href="#!">CHÍNH SÁCH MUA SẮM</a></li>
                    <li class="footer-item"><a href="#!">CÂU CHUYỆN THƯƠNG HIỆU</a></li>
                    <li class="footer-item"><a href="#!">HỆ THỐNG CỬA HÀNG</a></li>
                    <li class="footer-item"><a href="#!">THÔNG CÁO BÁO CHÍ</a></li>
                    <li class="footer-item"><a href="#!">LIÊN HỆ</a></li>
                </ul>
            </div>
            <div class="footer-block">
                <span class="footer-title">VỀ CHÚNG TÔI</span>
                <ul class="footer-list">
                    <li class="footer-item"><a href="#!">CHÍNH SÁCH MUA SẮM</a></li>
                    <li class="footer-item"><a href="#!">CÂU CHUYỆN THƯƠNG HIỆU</a></li>
                    <li class="footer-item"><a href="#!">HỆ THỐNG CỬA HÀNG</a></li>
                    <li class="footer-item"><a href="#!">THÔNG CÁO BÁO CHÍ</a></li>
                    <li class="footer-item"><a href="#!">LIÊN HỆ</a></li>
                </ul>
            </div>
            <div class="footer-block">
                <div class="social wraper">
                    <img src="https://sixdo.vn/images/ic-fb.svg" alt="" class="social-logo">
                    <img src="https://sixdo.vn/images/ic-instagram.svg" alt="" class="social-logo">
                    <img src="https://sixdo.vn/images/ic-yt.svg" alt="" class="social-logo">
                    <img src="https://sixdo.vn/images/ic-tictok.svg" alt="" class="social-logo">
                    <img src="https://sixdo.vn/images/ic-shopee.png" alt="" class="social-logo">
                </div>
                <img src="https://sixdo.vn/images/Thongbaobocongthuong.svg" alt="" class="footer-ratify">
            </div>
        </div>
        <div class="copyright">©2023 This template is made with by Nguyen Van Hau </div>
    </section>
</footer>