<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/product.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">HẬUSPORT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listProduct">List Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addproduct">Add Product</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script src="/js/index.js"></script>
    <title>hausprort</title>
</head>

<body>
    <header class="header-section sticky">
        <section class="top-menu-nav">
            <div class="top contain">
                <div class="top-nav">
                    <strong>Welcome to HauSport</strong>
                </div>
                <div class="admin">
                    <a href="/addproduct"><i class="fas fa-key"></i> Admin</a>
                </div>
            </div>
        </section>
        <section class="layout2">
            <div class="menu nav-logo">
                <div class="logo">
                    <a href="#">HAUSPORT</a>
                </div>
                <div class="nav-ul">
                    <ul>
                        <li><a href="/">Áo bóng đá</a></li>
                        <li><a href="/listProduct">Áo bóng chuyền</a></li>
                        <li><a href="./accessory.html">Phụ kiện</a></li>
                        <li><a href="">Giới thiệu</a></li>
                        <li><a href="">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="above-item header_search wraper" id="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span>Tìm kiếm</span>
                    <div class="search-block">
                        <form action="#" name="" method="POST" class="search-form">
                            <input type="text" class="search-input" name="search-item" placeholder="Nhập từ khoá tìm kiếm">
                            <button type="submit" name="submit-search"><i class="fa-solid fa-magnifying-glass search-icon"></i></button>
                        </form>
                    </div>
                </div>
                <div class="icon">
                    <a href="cart.html"><i class="fa fa-cart-plus"></i></a>
                    <a href="./admin/login.html"><i class="fa fa-user"></i></a>
                </div>
            </div>
        </section>
    </header>
</body>

</html>